body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #ff0000;
}

#projects {
  background-color: #ff0000;
}

#contact {
  padding-top: 1rem;
}

footer {
  background-color: #ff0000;
}
